/* miejsce na font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');

@font-face { font-family: SuperMario256; src: url('SuperMario256.ttf'); } 
@font-face { font-family: ARCADE_R; src: url('ARCADE_R.ttf'); }
@font-face { font-family: ARCADE_N; src: url('ARCADE_N.ttf'); }

/* start css */
html {
  min-height: 100%;
  min-width: 100%;
  background-image: url('https://wallpapercave.com/dwp1x/MUW4Dh6.jpg');
  
}
body {
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(219,14,117,1) 0%, rgba(153,10,82,0.5882002459186799) 0%, rgba(0,0,0,0.5853991254705007) 100%);
  
}
.gamepad {
  width: 340px; /* Adjust the width as needed */
  height: auto;
  position:absolute; 
  top: -16px; 
  left:36px; 
}
.navbar {
  position:fixed;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
  margin-top:-21px;
  
}
.navbar-strona {
  position:fixed;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
  margin-top:-24px;
  padding-right:53%;
  
}
.navbar-memory {
  position:fixed;
  overflow: hidden;
  background-color: #333;
  width: 100%; /* Full width */
  margin-top:-55px;
  
}



.navbar-links {
  display: flex;
  justify-content: center;
  margin-left:200px;

  margin-top:-10px;
  margin-bottom: -30px;
}

.navbar-links ul {
  display: flex;
  justify-content: center;

}

.navbar-links li {
    list-style: none;
    
    margin-bottom: 50px;
    text-align: center;
    list-style-type: none;
    margin-top:30px;
    position: center;
}

.navbar-links li a {
  font-weight: bold;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px 20px 20px;
  text-decoration: none;    
  font-family: 'ARCADE_N';
  font-size: 17px;
}




.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

@media(max-width:900px){
  .toggle-button-memory {
    display: flex;
    padding: 15px;
    padding-right: 80px;
  }


.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


}


@media (max-width: 900px) {
.navbar {
    position:fixed;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-right: 64px;
    line-height: 2%;
}
.navbar-strona {
  position:fixed;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-left:px;
  margin-right:-120px;
  line-height: 2%;
}
.navbar-memory {
  position:fixed;
  flex-direction: column;
  align-items: center;
  margin-top: -63px;
  margin-right: 64px;
  padding-right: 15%;
  line-height: 2%;
}

.toggle-button {
  display: flex;
  padding: 15px;
  padding-right: 80px;
}

.navbar-links {
    position:flex;
    text-align: center;
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    padding: -10%;
    margin-top: 10%;
    margin-left:-550px;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links ul li {
    text-align: center;
    padding-left: -2px;
    position: center;
}

.navbar-links ul li a {
    position:static;
    margin-top: 14px;
    padding-left: -2px;
   
    margin-bottom:-40px;
    font-size: 14px;
    position: center;
}

.navbar-links.active {
  text-align: center;
  display: flex;
}
  



.navbar-links-strona {
  position:flex;
  text-align: center;
  display: none;
  width: 100%;
}

.navbar-links-strona ul {
  width: 100%;
  padding: -10%;
  margin-top: 10%;
  margin-left:-550px;
  flex-direction:column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links-strona ul li {
  text-align: center;
  padding-left: -2px;
  position: center;
}

.navbar-links-strona ul li a {
  position:static;
  margin-top: 14px;
  padding-left: -2px;
 
  margin-bottom:-40px;
  font-size: 14px;
  position: center;
}

.navbar-links-strona.active {
text-align: center;
display: flex;
}

.gamepad {
  width: 38%;
  padding-top: 22px;
  padding-left: 70px;
}

}

  
footer {
  text-align: center;
  padding: 5px;  
  font-size: 20px;
  background-color: rgb(2, 125, 125);
  font-family: 'BioRhyme', serif;
  font-size:190%;
  text-shadow:3px 2px 2px #12a057;
}
  

  
  /* koniec części wspólnej */

.tekst {
  padding-top:3%;
  margin-top:-5%;
  border-style :outset ;
  border-width:5px;

  text-align: justify;
  font-size: 130%;
  font-family: 'Cantora One', sans-serif;

}
.tekst2 {
  font-size: 130%;
  text-align: center;
  color: white; 
  text-shadow: 2px 2px 2px #125ea0,5px 5px 5px #a8de9c;
          
        
        
}
.tło {
  background: rgba(34, 195, 192, 0.248);

  
}
.tytul-strona-glowna {
  margin-top:-3%;
  font-family: 'Press Start 2P';
  text-align: justify;
  padding-top:7%;
  font-size: 230%;
  text-align: center;
  color: #29ebfc; 
  background-image: -webkit-linear-gradient(45deg, #29ebfc 19%, #3ec41f 46%, #853d2e 83%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;

}
.tytul-strona-glowna2 {
  margin-top:-3%;
  font-family: 'Press Start 2P';
  text-align: justify;
  padding-top:7%;
  padding-right:16%;
  font-size: 330%;
  text-align: center;
  color: #29ebfc; 
  background-image: -webkit-linear-gradient(45deg, #29ebfc 19%, #3ec41f 46%, #853d2e 83%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  text-fill-color: transparent; 
  -webkit-text-fill-color: transparent;

}
.powitanie {
  font-family:'SuperMario256';
  padding: 7%;
  padding-left:16%;
  font-size: 240%;
  background: #FF0000;
  background: radial-gradient(circle farthest-corner at center center, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1200px)and (max-width: 1500px) {
  .powitanie {
    font-family:'SuperMario256';
    padding: 7%;
    padding-left:17%;
    font-size: 190%;
    background: #FF0000;
    background: radial-gradient(circle farthest-corner at center center, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.button-50 {
  font-size: 150%;
  text-align: center;
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-left:35%;
  margin-top:4%;
  margin-bottom:10%;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
.mapa {
  text-align: center;

  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
  height: 0;
  max-width: 100%; /* Added to prevent the map from exceeding the container's width */
    margin: 0 auto;
    margin-bottom:-20%;

}
.o-nas {
  border-style :outset ;
  border-width:5px;
  background: rgba(255, 255, 255, 0.237);
  
}
.kontakt { 
    text-align: center;
    font-size: 140%;
    font-family: 'Cantora One', sans-serif;
    color:white;
    text-shadow: 8px 2px 3px #24a43c,9px 4px 4px #02406c;

}


@media(max-width:900px) {
  .tekst {
    padding-top:3%;
    margin-top:-5%;
    border-style :outset ;
    border-width:5px;
  
    text-align: justify;
    font-size: 70%;
    font-family: 'Cantora One', sans-serif;
  
  }
  .tekst2 {
    font-size: 130%;
    text-align: center;
    color: #0c0c0c; 
    text-shadow: 2px 2px 2px #125ea0,5px 5px 5px #a8de9c;
            
          
          
  }
  .tło {
    background: rgba(34, 195, 190, 0.497);
    
  }
  .tytul-strona-glowna {
    margin-top:-3%;
    font-family: 'Press Start 2P';
    text-align: center;
    padding-left:8%;
    font-size: 190%;
    text-align: center;
    color: #29ebfc; 
    background-image: -webkit-linear-gradient(45deg, #29ebfc 19%, #3ec41f 46%, #853d2e 83%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
  
  }
  .tytul-strona-glowna2 {
    margin-top:-3%;
    font-family: 'Press Start 2P';
    text-align: center;
    padding-left:8%;
    font-size: 140%;
    text-align: center;
    color: #29ebfc; 
    background-image: -webkit-linear-gradient(45deg, #29ebfc 19%, #3ec41f 46%, #853d2e 83%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
  
  }
  .powitanie {
    font-family:'SuperMario256';
    padding: 15%;
    padding-left:15%;
    font-size: 120%;
    text-align: center;
    background: #FF0000;
    background: radial-gradient(circle farthest-corner at center center, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .button-50 {
    font-size: 100%;
    text-align: center;
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin-left:28%;
    margin-top:4%;
    margin-bottom:10%;
    overflow: visible;
    padding: 2%;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  iframe {
    padding-left: 11%;
    padding-top:5%;
    max-width: 105%;
    max-height: 900%;

  }
  .mapa {
    text-align: center;
    size:20%;
    margin-right: 20%;

  } 
  .o-nas {
    border-style :outset ;
    border-width:5px;
    background: rgba(255, 255, 255, 0.237);
    padding-bottom:100%;
  }
  .kontakt{
  
    text-align: center;
    font-size: 80%;
    font-family: 'Cantora One', sans-serif;
    color:white;
    text-shadow: 8px 2px 3px #24a43c,9px 4px 4px #02406c;


  
  }
}
  /* koniec strony <Strona Główna.html> */

  .kolekcjonerki {
    font-family:'Ubuntu', sans-serif;
    margin-left: 60px;
    padding: 160px;
    font-size:70px;
    text-shadow: 2px 1px 2px #11e4efbb, 4px 5px 2px #ac11efbb;
    text-align: center;
    border-style: outset 1px;
  }





.sklep {
  white-space: nowrap;
  text-align: center;
}

.dziecko,
.piła,
.gogle {
  display: inline-block;
  margin-right: 10px;
}

.dziecko img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  display: flex;
}

.dziecko:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}



.piła img {
  width: 200px;
  height: auto;
  margin-right: 10px;
  display: flex;
}

.piła:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}


.gogle img {
width: 200px;
height: auto;
margin-right: 10px;
display: flex;
}
.gogle:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 900px) {
  .sklep{
    width: 10%;

  }
  .kolekcjonerki {
    font-size: 20px;
    
  }
}



  /* koniec strony koszyk.html*/

  .koszyk {
    text-align: center;
    padding-left: 200px;
    padding: 20px;
  }


#cart-popover {
  margin-bottom: -200%;
  margin-left: 46%;
  padding-left:-5%;
  padding-right:-5%;
  text-decoration: none;
  font-size: 50px;
  display: flex;
  align-items: center;
  font-family:'Ubuntu';
}



.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}


.total_price {
  margin-left: 5px;
}
.popover{
  background-color: #035565;
  width: 40%;
  font-family: 'Ubuntu';
  text-shadow:3px 1px 3px #590352;
  font-size: 140%;
}

.container2{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 3%;
  padding-left:1%;
  padding-top:30px;
  padding-bottom: 10%;
}
.przedmioty{
  border-radius: 25px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: white;
  color:black;
  padding: 15px;
  padding-left: 20%;
  padding-right:20%;
  margin-right: 7%;
  width: 60%;
  height: 90%;
  width: 55%;
  height: 85%;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 30px;
  margin-top: 10%;
  box-shadow: 0px 0px 70px #afa;
  text-shadow:4px 2px 1px #590352, 6px 4px 2px #02406c;
  
}

.dark {
  border-radius: 25px;
  background: #000;
  color:rgb(255, 255, 255);
  padding: 15px;
  padding-left: 20%;
  padding-right:20%;
  margin-right: 7%;
  width: 60%;
  height: 90%;
  width: 55%;
  height: 85%;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 30px;
  margin-top: 10%;
  box-shadow: 0px 0px 60px rgb(125, 28, 161);
  text-shadow:2px 2px 1px #034b59, 4px 3px 6px #f801a6;
}
.imageBB{
  margin-top: 10%;

  width:85%;
  padding-bottom:20%;
}  
.BB-text{
  margin-bottom:40%;

}
.imageDoom{
  padding-top:10%;
  margin-top: 10%;
  width:110%;
}
.doom-text{

  margin-bottom: 60%;
}
.image-gogle{
  padding-top: 40%;

  margin-bottom: -25%;
  width:100%;
}
.gogle-text{
  padding-top: 10%;
}
.image-pip{
  padding-top: 50%;
  width:100%;
}
.pip-text{
  padding-bottom:55%;
}
.image-dead{
  padding-top:10%;
  margin-bottom:-21%;
  padding-top:10%;
  margin-bottom:-21%;
  padding-top:30px;
  margin-bottom: -90px;
  width:100%;
  width:85%;
}
.image-łazik{
  padding-top:50%;
  width:100%;
}

@media(max-width:900px){
  .container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top:-50px;
    padding-bottom: 80px;
    padding-left: 5px;
  }
    .przedmioty{

      border-radius: 25px;
      background: #ffffff;
      margin: auto;
      padding-bottom:20%;
      width: 50%;
      height: 70%;
      font-family: 'Press Start 2P';
      font-size: 13%;
      margin-top: 30%;
      text-shadow: 2px 2px 2px rgb(14, 139, 51);
      box-shadow: 8px 3px 2px #afa;
  }
  
  .dark{

    border-radius: 25px;
    background: black;
    color:white;
    margin: auto;
    padding-bottom:20%;
    width: 50%;
    height: 70%;
    font-family: 'Press Start 2P';
    font-size: 13%;
    margin-top: 30%;
    box-shadow: 8px 3px 2px rgb(125, 28, 161);
    
}

  .imageBB{
    width:120%;
    margin-left: -10%;
    margin-bottom: -9%;
  }  
  .imageDoom{
    width:160%;
    margin-left: -24%;
  }
  .image-gogle{
    width:140%;
    margin-left: -20%;
  }
  .image-pip{
    width:140%;
    margin-left: -20%;
    margin-bottom: -12%;
  }
  .image-dead{
    width:110%;
    padding-bottom: 90%;
    margin-bottom: -150%;

  }
  .dead-text{
    margin-bottom:10%;
  }
  .image-łazik{
    width:140%;
    padding-top:50%;
    margin-bottom: -50%;
    margin-left: -20%;
  }
  .nomad-text {
    padding-top:36%;
  }
  .koszyk{
    margin-top:-20%;
    padding-left: 15%;
    text-align: center;
    font-size: 280%;
  }
  #cart-popover {
    margin-top:-10%;
    margin-bottom: -10%;
    margin-left: 9%;
    text-decoration: none;
    font-size: 100%;
    display: flex;
    align-items: center;
    font-family:'Ubuntu';
  }
  .form-control{
    text-align:center;
    font-size: 10px;
    
  }
  .form-control2{
    font-size: 1%;
    padding-right:-50%;
    padding-left:-50%;
    margin-right:-80%;
    margin-left:-80%;
    
    
  }
  .btn btn-success form-control add_to_cart{
    margin-top:20%;

  }
  .text-info{
    font-size: 680%;
  }
  .text-danger{
    font-size: 560%;
  }
  .popover {

    text-align: center;
    width:90%;
    font-size: 80%;
    text-shadow: 0px 2px 2px rgb(194, 18, 18);
  }




}


  /* koniec strony <galeria.html> */

  .historia-gier{
    color : rgba(219,14,117,1);
    text-shadow:4px 2px 2px rgba(255,255,255);
    font-size:120px;
    margin-top: -0.8px;

    padding-top: 170px;
    font-family: 'SuperMario256';
    text-align: center;

    
  }
  .historia-tytuł {
    font-family: 'Press start 2P';
    font-size: 18px;
    padding: 20px;
    position: center;
  }
  @media(max-width:900px){
      .historia-gier{
        color : rgba(219,14,117,1);
        text-shadow:3px 2px 1px rgb(207, 255, 62);
        font-size:50px;
        margin-top: -0.8px;
    
        padding-top: 100px;
        font-family: 'SuperMario256';
        text-align: center;
      }
    .historia-tytuł {
      font-family: 'Press start 2P';
      font-size: 18px;
      text-align: center;
    }
  }

  .lata-70 {
    font-family:'Ubuntu', sans-serif;
    font-size: 20px;
    background: rgba(72, 50, 196, 0.301);
    color:antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 2px #FFB650,
                  4px 4px 4px  #80f0ff,
                  6px 6px 6px #EF5097;                  
    padding: 22px;
    border:ridge rgb(68, 227, 255) 7px;
  }



.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
/* sekcja na logo */

/*lata 70 */
.Asteroids {
  margin-top: 20px;
  width: 20%;

}
.Space_Invaders {
  width: 20%;
}
.pong {
  width: 20%;
}

.star-trek {
  width: 30%;
}
.superman {
  width: 18%;
}
.microsoft-flying-simulator {
  width: 20%;
}
/*lata 80 */
.contra {
  width:20%;
  margin-bottom:20px;
}
.donkey-kong {
  width:30%;
  margin-bottom:30px;
}
.pac-man {
  width:30%;
  margin-bottom:20px;
}
.super-mario {
  width:20%;
  margin-bottom:20px;
}
.wolfenstein {
  width:20%;
  margin-bottom:20px;
}
.the-legend-of-zelda {
  width:20%;
  margin-bottom:20px;
}
/*lata 90 */
.house-of-the-dead-2{
  width: 30%;
}
.street-fighter2 {
  width: 30%;
}
.final-fight {
  width: 30%;
}
.half-life{
  width: 40%;   
}
.simcity2000{

}
.doom {

}
/* lata 2000 */
.angry-birds {
  width: 40%;
}
.bejeweled {
  width: 30%;
}
.the-sims{
  width: 40%; 
}
.deus-ex{
  width: 30%; 
  margin-bottom:40px;
}
.thps2{
  width: 40%; 
  margin-bottom:40px;
}
/*lata 2010 */
.beat-saber {
  margin-bottom:40px;
}
.doom-vfr {
  width: 30%;
  margin-bottom:40px;
}
.superhot-vr{
  width: 60%;
}
.super-mario-odyssey {
  width: 40%;
}
.rdr2 {
  width: 50%;
}
.the-witcher3{
  width: 40%;
}

/* media */
@media (max-width : 900px) {
  /*lata 70 */
  .Asteroids {
    margin-top: 20px;
    width: 50%;
  }
  .Space_Invaders {
    width: 40%;
  }
  .pong {
    width: 40%;
  }

  .star-trek {
    width: 50%;
  }
  .superman {
    width: 40%;
  }
  .microsoft-flying-simulator {
    width: 30%;
  }
  /*lata 80 */
  .contra {
    width:40%;
    margin-bottom:20px;
  }
  .donkey-kong {
    width:40%;
    margin-bottom:30px;
  }
  .pac-man {
    width:50%;
    margin-bottom:20px;
  }
  .super-mario {
    width:40%;
    margin-bottom:20px;
  }
  .wolfenstein {
    width:40%;
    margin-bottom:20px;
  }
  .the-legend-of-zelda {
    width:40%;
    margin-bottom:20px;
  }
  /*lata 90 */
  .house-of-the-dead-2{
    width: 44%;
  }
  .street-fighter2 {
    width: 40%;
  }
  .final-fight {
    width: 40%;
  }

  .half-life{
    width: 40%;   
  }
  .simcity2000{
    width: 50%; 
  }
  .doom {
    width: 50%; 
  }

  .the-sims{
    width: 40%; 
  }
  /* lata 2000 */
  .angry-birds {
    width:60%;
  }
  .bejeweled {
    width: 50%;
  }
  .the-sims{
    width: 40%; 
  }
  .deus-ex{
    width: 40%; 
  }
  .thps2{
    width: 50%; 
  }
  /* lata 2010 */
  .beat-saber {
    width:40%;
  }
  .doom-vfr {
    width: 50%;
  }
  .superhot-vr{
  
  }
  .super-mario-odyssey {
  width: 50%;
  }
  .rdr2 {
    width: 50%;
  }
  .the-witcher3{
    width: 50%;
  }

}
/* sekcja na logo */


.lata-80 {
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  background: rgba(50, 174, 196, 0.301);
  color:antiquewhite;
  text-align: center;
  text-shadow: 2px 2px 2px #50ff9f,
                4px 4px 4px  #FF80BF,
                6px 6px 6px #ef505db9; 
                padding: 22px;
  border:ridge 7px;

}
li {
  list-style-type: none;
  position: center;
}



/* CSS */
.button2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/* gify */
.pong-gif {
  width:30%;
  height:30%;
  border:ridge 8px rgb(68, 255, 146);
  cursor:pointer;
}
.wolfenstein-gif {
  width:40%;
  height:50%;
  border:ridge 8px rgb(68, 255, 193);
  cursor: grabbing;
}
.final-fight-gif{
  width:30%;
  height:50%;
  border:ridge 8px #44f;
  cursor:pointer;
}

@media (max-width :900px){
  .pong-gif {
  width:70%;
  height:60%;

}
.wolfenstein-gif {
  width:80%;
  height:60%;

}
.final-fight-gif{
  width:70%;
  height:60%;

}
}
/* gify */

.lata-90 {
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  background: rgba(50, 174, 196, 0.301);
  color:rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 2px #ff50f0,
                4px 4px 4px  #FF80BF,
                6px 6px 6px #bbe71c85;
                padding: 22px;
  border:ridge rgb(68, 255, 124) 7px;

}

.lata-dwutysięczne {
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
  background: rgba(50, 174, 196, 0.301);
  color:rgb(0, 0, 0);
  text-align: center;
  text-shadow: 2px 2px 2px #50f9ff,
                4px 4px 4px  #fdbb48,
                6px 6px 6px #c550efb9; 
                padding: 22px;
  border:ridge #dbfa2e 7px;

}
.wikipedia{
  font-family:'Ubuntu', sans-serif;
  font-size: 40px;
  background: rgba(50, 174, 196, 0.301);
  color:rgb(0, 0, 0);
  text-align: center;
  text-shadow: 4px 4px 2px #50f9ff,
                6px 6px 4px  #fdbb48;
                padding: 22px;
  border:ridge #fa2ed5 7px;
}
/* koniec historia.html */
/* memory.html */

.memory-text {
  font-family: 'Cantora One', sans-serif;
  color: white;
  font-size: 300%;
  text-shadow: 4px 3px 4px #44f;
  padding-top: 5%;
  text-align: center;

}
.memory-tytul {
  font-family:'Press Start 2P', sans-serif;
  color: white;
  text-shadow: 4px 3px 4px rgb(255, 68, 239),
  6px 6px 7px rgb(68, 227, 255);
  padding-top: 20px;
  text-align: center;
  padding-top: 7%;
  font-size: 460%;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  cursor:help;
}
.score {
  font-family: 'Cantora One', sans-serif;
  color: white;
  text-shadow: 4px 3px 4px #44f;
  margin-top: 50px;
  letter-spacing: 2px;
}
@media (max-width:900px){
  .navbar-memory {
    position:fixed;
    flex-direction: column;
    align-items: center;
    margin-top: -7%;
    padding-top: 15%;
    margin-right: 20%;
    line-height: 2%;
}


  .memory-text {
    font-family: 'Cantora One', sans-serif;  
    
    padding-top: 50px; 
    text-align: center;
    padding-left:10%;
    font-size: 110%;;
    width:300px;
    text-align: center;
  }
  .memory-tytul {
    font-family: 'Press start 2P';
    text-shadow: 4px 3px 4px rgb(255, 68, 239),
                6px 6px 7px rgb(68, 227, 255);
    padding-top: 30%; 
    padding-left:10%;
    font-size: 260%;;
    text-align: center;
    width:300px;
    text-align: center;

  }
}

.board
{
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    position:static;
} 



.cardA
{
    width: 125px;
    height: 125px;
    display:inline-block;
    margin:3px;
    background-image: url("img/karta.png");
    border:4px solid #e9b64a;
    border-radius: 4px;
    cursor:default;
    filter:brightness(100%);
    transition: all .3s ease-in-out;
}

.card
{
    width:125px;
    height: 125px;
    display: inline-block;
    margin: 3px;
    background-image:url("img/karta.png");
    border: 4px solid #51C8B2;
    border-radius: 4px;
    cursor:crosshair;
    filter:brightness(65%);
    transition:all .3s ease-in-out;
    
}

.card:hover
{
    border:4px solid #e9b64a;
    filter: brightness(100%);
}
@media (max-width: 900px){
  .board
  {
      padding: 10px;
      width: 300px;
      margin-right:auto;
      text-align: center;
      position:static;
  }
  .cardA
{
    width: 82px;
    height: 82px;
    display:inline-block;
    margin:3px;
    background-image: url("img/karta-small.png");
    border:4px solid #e9b64a;
    border-radius: 4px;
    cursor:default;
    filter:brightness(100%);
    transition: all .3s ease-in-out;
}

.card
{
    width:82px;
    height: 82px;
    display: inline-block;
    margin: 3px;
    background-image:url("img/karta-small.png");
    border: 4px solid #51C8B2;
    border-radius: 4px;
    cursor:crosshair;
    filter:brightness(65%);
    transition:all .3s ease-in-out;
    
}

.card:hover
{
    border:4px solid #e9b64a;
    filter: brightness(100%);
}
}


/* memory.html */
